# Python bytecode
__pycache__/
*.pyc

# Virtual environment
.venv/
env/
venv/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data and models
data/
models/
results/

# OS specific files
.DS_Store
Thumbs.db

# Artifacts
artifacts/
